{{#if myPosts}}    
    {{#each myPosts as |post|}}
        <a href="/posts/{{id}}" class="post">
            <div class="img-container">
                <img src="../images/{{image_name}}" />
            </div>
            <h3 class="location">{{fix_case city}}, {{fix_case state_province}}</h3>
            <h3 class="country">{{fix_case country}}</h3>
            <h3 class="title text-center text-white">{{fix_case title}}</h3>

            {{!-- <h3 class="title text-center text-white">fix_case city, fix_case state_province</h3>
            <h3 class="title text-center location-info">fix_case country</h3>
            <h3 class="title text-center location-info">fix_case title</h3> --}}

        </a>
    {{/each}}
    {{!-- image id --}}
{{else}}
    <div>You haven't posted anything yet!</div>
{{/if}}