{{#if posts}}
<main class="home_log_sign p-0">
    {{#each posts as |savedPost|}}
        <a href="/posts/{{savedPost.post.id}}" class="post">
            <div class="img-container">
                <img src="../images/{{savedPost.post.image_name}}" />
            </div>
            <h3 class="location">{{fix_case savedPost.post.city}}, {{fix_case savedPost.post.state_province}}</h3>
            <h3 class="country">{{fix_case savedPost.post.country}}</h3>
            <h3 class="title text-center text-white">{{fix_case savedPost.post.title}}</h3>

            {{!-- <h3 class="title text-center text-white">fix_case city, fix_case state_province</h3>
            <h3 class="title text-center location-info">fix_case country</h3>
            <h3 class="title text-center location-info">fix_case title</h3> --}}

        </a>
    {{/each}}
</main>

{{else}}
<main class="h-100 d-flex align-items-center justify-content-center mb-4 background">
    <p class="no-posts">You don't have any posts saved!</p>
</div>
{{/if}}
