<div class="vw-100">
    <!-- travel section -->
    <section class="single-post-top row mx-5 mt-5 mb-3">
        <div class="col-5 post-photo">
        </div>

        <div class="col-7">
            <h2>{{post.title}}</h2>
        </div>
    </section>
    <section class="single-post-middle mx-5 text-center">
        <p>{{post.description}}</p>
    </section>
    <section class="single-post-bottom mx-5 row">
        <div class="col-4 tips-columns">
            <p class="tips-heading">places</p>
            <div class="tip text-center mt-0">{{post.restaurants}}</div>
            <div class="tip text-center my-2">{{post.attractions}}</div>
            <p class="tips-heading">cost</p>
            <div class="tip text-center mt-0">{{post.meal_cost}}</div>
            <div class="tip text-center my-2">{{post.hotel_cost}}</div>

        </div>
        <div class="col-4 tips-columns">
            <p class="tips-heading">tips</p>
            <div class="tips-entry text-center mt-0">{{post.tips}}</div>
        </div>

        <div class="col-4 tips-columns">
            <p class="tips-heading">best for</p>
            <div class="tip text-center mt-0">Pet Friendly: {{post.pet_friendly}}</div>
            <div class="tip text-center my-2">Kid Friendly: {{post.kid_friendly}}</div>
            <div class="tip text-center my-2">Safety Rating: {{post.safety_rating}}</div>

        </div>
    </section>
    <button id="save-post-btn" type="click" class="mt-5 btn-search btn rounded-pill shadow">SAVE POST</button>
</div>

<script src="/javascript/save-post.js"></script>